package skeleton

// bodyContent templ.Component
templ FullSite(title string){ 
    <!DOCTYPE html>
    <html>
        @Header(title)
    <body>
        
    </body>
    </html>
    
}

//      @Body(bodyAttributes)