package button

templ (b *button) Component() {
	<button class={ "uk-btn", b.variant,b.size,b.width, b.GetClasses(), } { b.GetAttributes() ... }>
		{ b.name }
		if b.icon != nil {
			//add icon component
			@b.icon.Component()
		}
		for _, c := range b.innerComponents {
			@c
		}
		
	</button>
}

templ (bg *buttonGroup) Component() {
	<div class="uk-btn-group">
		for _, b := range bg.items {
			@b.Component()
		}
	</div>
}
