package button

templ (b *button) create() {
	<button class={ "uk-btn", b.classes } { b.attributes ... }>
		{ b.name }
		if b.icon != nil {
			//add icon component
			@b.icon.Component()
		}
	</button>
}
