package placeholder

templ (p *placeholder) Component() {
	<div class={ "uk-placeholder", p.alignment, p.GetClasses(), } { p.GetAttributes() ... }>
		for _, c := range p.content {
			@c
		}
	</div>
}
