package listing

templ (l *list) Component() {
	<ul
		class={ "uk-list", string(l.variant), l.GetClasses() }
		{ l.GetAttributes() ... }
	>
		for _, item := range l.items {
			@item.Component()
		}
	</ul>
}

templ (le *listItem) Component() {
	<li class={ le.GetClasses() } { le.GetAttributes() ... }>
		if le.item != nil {
			@le.item
		} else {
			{ le.name }
		}
	</li>
}
