package icon 

import "strconv"

templ (i *icon) Component() {
	<uk-icon
		cls-custom={ i.clsCustom }
		icon={ i.name }
		stroke-width={ strconv.Itoa(i.strokeWidth) }
		height={ strconv.Itoa(i.height) }
		width={ strconv.Itoa(i.width) }
		class={ i.GetClasses() }
		{ i.GetAttributes() ... }
	></uk-icon>
}
